
body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/****** DISPLAY FLEX *****/
.flex-column 
{
    flex-direction: column;
}
.flex-row 
{
    flex-direction: row;
}
.wrap
{
    flex-wrap: wrap;
}
.nowrap
{
    flex-wrap: nowrap;
}
.flex-center-h
{
    justify-content: center;
}
.flex-center-v
{
    align-items: center;
}
.flex-center
{
    align-items: center;
    justify-content: center;
}
.text-center
{
    text-align: center;
}
.flex 
{
    display: flex;
}
.flex-1
{
    flex: 1;
}
.flex-2
{
    flex: 2;
}
.flex-3
{
    flex: 3;
}
.flex-4
{
    flex: 4;
}
.flex-5
{
    flex: 5;
}
/******* GAP ******/
.gap-5
{
    gap: 5px;
}
.gap-10
{
    gap: 10px;
}
.gap-15
{
    gap: 15px;
}
.gap-20
{
    gap: 20px;
}
/******* INPUTE SELECT ******/
input, select, textarea 
{
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border: 0.1px solid #ccc;
    background-color: #efefef;
}
a 
{
    text-decoration: none;
    color: black;
}
ul 
{
    margin: 0;
    padding: 0;
    cursor: pointer;
    list-style: none;
}
button
{
    cursor: pointer;
}
.box 
{
    box-shadow: 0px 4px 8px rgb(0 0 0/10%), 0px 12px 18px rgb(0 0 0/10%);
}
i 
{
    color: #ccc;
    font-size: 1.3rem;
    cursor: pointer;
}
.fixed
{
    position: fixed;
}
.sticky
{
    position: sticky;
}
.relative
{
    position: relative;
}
.absolute
{
    position: absolute;
}
.profile-picture img
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
[class$="-xl"]
{
    width: 89%;
    margin: 20px auto;
}
[class$="-m"]
{
    width: 70%;
    margin: 20px auto;
}
.center-element
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.paginate-item 
{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: red;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}
.paginate-item.active
{
    background-color: gray;
}
.paginate 
{
    margin: 20px 0;
}
@media screen and (max-width: 1550px) {
    [class$="-m"]
    {
        width: 95%;
        
    }
    
}
@media screen and (max-width: 900px) {
    [class$="-xl"]
    {
        width: 90%;
        
    }
    
}
@media screen and (max-width: 650px) {
    [class$="-xl"]
    {
        width: 95%;
        
    }
       
    
    
}
